nav {
    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

.conteneur-flexible {
    width: 100%;
    /* height: 50px; */
    display: flex;
    color: white;
    margin-top: 100px;
    flex-flow: row nowrap;
    /* align-items: center;
    justify-content: center; */
}

.element-flexible {
    position: relative;
    flex: 1 1 20%;
    /* width: 20%; */
    text-align: center;
    color: black;
    margin: 10px;
    /* box-sizing: border-box; */
    
}
.element-flexible > a {
    border-bottom: 2px solid purple;
}
a {
    text-align: center;
    text-decoration: none;
    color: black;
}


nav a {
    color: purple;
    text-decoration: none;
    display: block;
    width: 100%;
}

nav>ul>li:hover .sous {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 2px solid transparent;
    /* padding: 10px 0px; */
}

.sous {
    position: absolute;
    /* background-color: white; */
    width: 100%;
    z-index: 1000;
    display: none;
    text-align: center;
    box-shadow: 0px 1px 2px #CCC;
}

.sous li {
    flex : 1 1 auto;

}


img{
    width: 500px;
    height: 500px;
    padding: 2px;
}

#centre
{
    width: 500px;
    height: 500px;
    margin: auto;

}


