html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
}

* {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.foot {
    height: 50px;
    display: inline-block;
}

h1 {
    margin: 50px;
    font-size: 1.8em;
    color: rgb(228, 140, 108);
    font-weight: bold;
    text-align: center;
}

h2 {
    margin: 50px;
    font-size: 1.8em;
    color: rgb(228, 140, 108);
    font-weight: bold;
    text-align: center;
}

h3 {
    margin: 10px;
    color: rgb(228, 140, 108);
    font-weight: bold;
    text-align: center;
}

nav {
    width: 100%;
    margin: 0px auto 40px auto;
    position: sticky;
    top: 0px;
}

nav ul {
    list-style-type: none;
}

.conteneur-flexible {
    width: 100%;
    /* height: 50px; */
    display: flex;
    color: white;
    margin-top: 100px;
    flex-flow: row nowrap;
    /* align-items: center;
    justify-content: center; */
}

.element-flexible {
    position: relative;
    flex: 1 1 20%;
    /* width: 20%; */
    text-align: center;
    color: rgb(228, 140, 108);
    margin: 10px;
    /* box-sizing: border-box; */
}

.element-flexible>a {
    border-bottom: 2px solid rgb(228, 140, 108);
}

a {
    text-align: center;
    text-decoration: none;
    color: rgb(228, 140, 108);
}

nav a {
    color: rgb(228, 140, 108);
    text-decoration: none;
    display: block;
    width: 100%;
}

nav>ul>li:hover .sous {
    display: flex;
    flex-flow: column wrap;
    border-bottom: 2px solid transparent;
    /* padding: 10px 0px; */
}

.sous {
    position: absolute;
    /* background-color: white; */
    width: 100%;
    z-index: 1000;
    display: none;
    text-align: center;
    box-shadow: 0px 1px 2px #CCC;
}

.sous li {
    flex: 1 1 auto;
}

.s3 {
    background-color: white;
    display: block;
    font-size: 18px;
    padding: 12px 24px;
    text-align: center;
    color: black;
}

.decalephoto {
    margin: 10px;
    font-size: 1.8em;
    text-align: center;
    color: rgb(228, 140, 108);
}